 <!-- Navbar -->
 <header>
    <div class="container">
        <nav class="navbar">
            <div class="logo">
                <i class="fas fa-hand-holding-usd"></i>
                <div class="logo-text">Secure<span>Funds</span></div>
            </div>
            
            <ul class="nav-menu">
                <li><a href="/home" class="nav-link">Home</a></li>
                <li><a href="/loanproduct" class="nav-link">Loan Products</a></li>
                <li><a href="/rates" class="nav-link">Rates & Fees</a></li>
                <li><a href="/works" class="nav-link">How It Works</a></li>
                <li><a href="/about" class="nav-link">About Us</a></li>
                <li><a href="/contacts" class="nav-link">Contact</a></li>
                <li><a href="/signup" class="nav-link">Create an Account</a></li>
            </ul>
            
            <div class="nav-actions">
                <a href="/applynow" class="btn">Apply Now</a>
            </div>
            
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </div>
</header>